############################
# Emacs compiled files
############################

*.elc
*.eln

############################
# Package management
############################

elpa/
quelpa/
package-quickstart.el
.cask

############################
# Native compilation cache (Emacs 28+)
############################

eln-cache/

############################
# Runtime / cache directories
############################

var/
etc/
tree-sitter/
undo-tree-history/

############################
# Backup & autosave files
############################

*~
\#*\#
.\#*

############################
# Undo-tree history
############################

*.~undo-tree
undo-tree/


############################
# Flycheck temporary files
############################

.flycheck*

############################
# Shell init files (local only)
############################

init_bash.sh
init_zsh.sh

############################
# OS junk
############################

.DS_Store


Org/

